.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(108, 108, 241);
}
.btn-checkout{
    padding: 10px 15px;
    background: white;
    border-radius: 4px;
    transition: all 0.1s ease;
}
.btn-checkout:hover{
    transform: translateY(-2.5px);
}